@model IEnumerable<WebBanHangOnline.Models.EF.Category>

@if (Model != null && Model.Any())
{
<ul class="navbar_menu">
    @foreach (var item in Model)
    {
        
        if (!string.IsNullOrEmpty(item.Link))
        {
            item.Alias = item.Link;
        }
        <li><a href="@item.Alias">@item.Title</a></li>
    }

</ul>
}