<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jtranquocviet-001-site1.dtempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win8012.site4now.net:8172/msdeploy.axd?site=jtranquocviet-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>jtranquocviet-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>jtranquocviet-001</UserName>
    <_SavePWD>false</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL8005.site4now.net;Initial Catalog=db_a9d6c5_login;User ID=db_a9d6c5_login_admin;Password=Viet0914908091@" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WebBanHangOnline.Models.ApplicationDbContext, WebBanHangOnline" MigrationConfiguration="WebBanHangOnline.Migrations.Configuration, WebBanHangOnline" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL8005.site4now.net;Initial Catalog=db_a9d6c5_login;User ID=db_a9d6c5_login_admin;Password=Viet0914908091@</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>